nav.
header.
footer {
    display: block;
}

* {
  box-sizing: border-box;
}

.Nav{
    color: floralwhite;
}

.w3-row{
    background: rgb(23,13,10);
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}

.w3-col:hover{
    font-weight: bold;
    font-style: oblique;
    color: dimgray;
    text-align: center;
}

body{
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 {
    display: inline-block; 
  background-color: black;
    color: whitesmoke;
  width: 300px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
}

.titlu{
    text-align: center;
}

img{
    text-align: center;
    border-radius: 50%
}
.box2{
    text-align: center;
}

.box3 {
    display: inline-block; 
  background-color: black;
    color: whitesmoke;
  width: 300px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
}
.text2{
    text-align: center;
}
footer.foot {
    text-align: center;
    color:white;
    display: block;
}

